.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    
}
.containerCalc {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    width:240px ;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    background-color:  	#B75454;
    border-radius: 8px;
  }
.number{
    width: 40px;
    height: 40px;
    background-color:  	#FFDEAD;
}
.number:hover{
    background-color: #FFF8DC;
}
.operator,#reset,#delete,#coma,#change_sign{
    width: 40px;
    height: 45px;
}
#equals{
    width: 85px;
    height: 45px;
    background-color:#54b7b7;
}
#equals:hover{
    background-color:#81C9C9;
}

button{
    border-radius: 8px;
    text-align: center;
    color:#2F4F4F;
    border: none;
    background-color:#DEB887;
    transition-duration: 0.35s;
}
button:hover{
    background-color: #E7CDAB;
}
#result{
    background-color: #54b7b7;
    height: 45px;
    width: inherit;
    border-radius:7px;
    color:white;
    font-weight: 500;
    text-align: right;
    padding-right: 10px;
    padding-top:20px;

}
#footer{
    position: fixed;
    bottom: 0em;
    color:rgb(43, 42, 42);
    font-style: italic;
    font-size:13px;
}